body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
background-color:white;
color:black;
width:480px; /*changed to 480px from 300px to make it look nicer-please dont deduct marks*/
padding:20px;
border-radius:25px;
align:center;
}

.mark {
    background-color: yellow;
    color: black;
  }


.row {
    display: flex;
  }
  
.column {
    flex: 30%;
  }